<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="filme; else elseBlock">{{ filme.original_title }}</ion-title>
    <ng-template #elseBlock><ion-title>Não tenho detalhes :(</ion-title></ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="filme">
    <ion-item>
      <div style="display:block;">
        <p>"{{ filme.tagline }}"</p>
        <div style="display:flex;">
          <p *ngFor="let genre of filme.genres">| {{ genre.name }} |</p>
        </div>
      </div>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

  </ion-card>
</ion-content>