<ion-content padding [fullscreen]="true">
  <ion-slides pager = true>

    <ion-slide class="slide_image">
      <img src="../../assets/images/slide-1.png" alt="">
      <div>
        <h2>Meu app Fantástico</h2>
        <br>
        <p>
          Este meu app tera funcoes incríveis. Ele foi feito para impressionar você.
        </p>
        <p>
          Ficou curioso? <strong>Veja Mais</strong>
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="../../assets/images/slide-2.png" alt="">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide class="slide_image"> 
      <img src="../../assets/images/slide-3.png" alt="">
      <h2>Slide 3</h2>
    </ion-slide>

    <ion-slide class="slide_image"> 
      <img src="../../assets/images/slide-3.png" alt="">
      <h2>Slide 3</h2>

      <a (click)="goToTabsPage()">Continuar</a>
    </ion-slide>

  </ion-slides>
</ion-content>