<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-item>
      <div style="display:block;">
        <h2 class="feed_title" style="font-size: 20px;">{{ filme.original_title }}</h2>
        <p class="feed_date">{{ filme.release_date }}</p>
      </div>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500/' + filme.backdrop_path">

    <ion-card-content>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="star-sharp" style="height: 20px;"></ion-icon>
          <div> Nota: {{ filme.vote_average }}</div>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <div>Votos: {{ filme.vote_count }}</div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button (click)="abrirDetalhes(filme)">Detalhes</ion-button>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>